
body{
  overflow: hidden;
}

.react-pdf__Page {
  text-align: -webkit-center;
}

.react-pdf__Page__canvas,.mc-pdf-page {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.mrc-embed-pdf__toolbar{
  display: grid;
  grid-template-columns:auto auto auto; 
  /* height: 40px; */
  border: 0;
  align-items: center;
  padding: 4px;
  justify-content: center;
}

.mrc-embed-pdf__toolbar-item{
  display: flex;
  flex-direction:row;
  align-items: center;
  /* padding:"0 16px"; */
}
.mrc-embed-pdf__control-input{
  height: 24px;
}
.mrc-embed-pdf__toolbar-item button{
  /* width: 40px;
  height: 32px; */
  /* background: aqua;
  color: bisque; */
}